<!DOCTYPE html>
<html>
  <head>
    <title>Admin Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <nav>
      <%= link_to "Dashboard", admin_dashboard_path %> |
      <%= button_to "Logout", destroy_admin_session_path, method: :delete, form: { data: { turbo: false } } %>
    </nav>

    <%= yield %>
  </body>
</html>
